name: cd
on:
  workflow_dispatch:
jobs:
  Update-Image:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Update Image 
      run: |
        sed -i '$s/.*/  newTag: "10"/g' kustomize/overlays/dev/kustomization.yml
    - name: Git Auto Commit
      uses: stefanzweifel/git-auto-commit-action@v5.0.0
